* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body, html {
    width: 100%;
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background:  #776D8A ;
}

/* .container {
    background-image: url(./assets/aspar-completa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */

.container {
    background: #dbe3e5 ;
    margin: auto;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 80px;
    padding: 3%;
}

.img {
    width: 60px;
}

.texto {
    font-size: 30px;
    /* background: white;     */
    display: flex;
    align-items: center;
    text-align: justify;
}

.item {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.item:hover {
    background: #c87941;
    color: white;
} 